*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;

    
}


nav{
    padding-right: 80px;
    background-color: rgb(167, 4, 4); 
    display: flex;  
    align-items: center;
    justify-content: space-evenly;
   position: fixed;
   height: 15%;
   flex-wrap: wrap;
   flex-flow: wrap;
   width: 100%;
  & img{
    mix-blend-mode: multiply;
}
 
}
#nav{
    display: flex; 
    align-items: center;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    text-align: center;
    width: 35%;
    
   
  
    
   
}
#deli{
    color: orange;
    font-size: large;
    margin: 0px 20px 0px 20px;

}
#dine{
    font-size: large;
}
#nav img{
    width:20%;
    mix-blend-mode:screen;
 }

.butto{
 
    background-color: antiquewhite;
    margin-bottom: 10px;
}

.bottom{

    background-color: rgb(167, 4, 4); 
    display: flex;  
    align-items: center;
    justify-content: space-evenly;
   position: fixed;
   bottom: 0;
   height: 10%;
   flex-wrap: wrap;
   flex-flow: wrap;
   width: 100%;
    font-size: larger;
    text-decoration: none;
   
}